<section class="search-page">
    <section class="search-page__view-actions">
        <button
            mat-raised-button
            class="search-page_view-change"
            (click)="changeView()"
        >
            {{ videoListView ? "Список" : "Сетка" }}
        </button>
    </section>

    <section
        class="search-page__video-items video-items_grid"
        *ngIf="videoListView"
    >
        <mat-card
            class="search-page__item"
            *ngFor="let videoItem of videos$ | async; videos"
        >
            <img class="search-page__img" [src]="videoItem.snippet.imageUrl" />
            <h1 class="search-page__title">{{ videoItem.snippet.title }}</h1>
        </mat-card>
    </section>

    <section
        class="search-page__video-items video-items_list"
        *ngIf="!videoListView"
    >
        <mat-card
            class="search-page__item item-list"
            *ngFor="let videoItem of videos$ | async; videos"
        >
            <img
                class="search-page__img img-list"
                [src]="videoItem.snippet.imageUrl"
            />
            <div class="search-page__video-items item-list__container">
                <h1 class="search-page__title">
                    {{ videoItem.snippet.title }}
                </h1>
                <p class="search-page__description">
                    {{ videoItem.snippet.description }}
                </p>
            </div>
        </mat-card>
    </section>
</section>
