<div class="header">
    <div class="header__left">
        <mat-icon class="header__sidebar-icon">menu</mat-icon>
        <img
            [routerLink]="['/search-page']"
            class="header__logo"
            src="/assets/logo.svg"
            alt="youtube logo"
        />
    </div>
    <div class="header__middle">
        <mat-form-field class="header__search" appearance="fill">
            <mat-label>Запрос</mat-label>
            <input
                [(ngModel)]="query"
                matInput
                placeholder="Введите запрос"
                name="search"
                id="search"
                class="header__input"
                type="search"
                required
            />
        </mat-form-field>
        <button class="header__search-button" type="submit">
            <mat-icon class="header__icon">search</mat-icon>
        </button>
    </div>
</div>
