<div class="channel__tabs">
    <mat-icon class="channel__tabs-arrow">keyboard_arrow_left</mat-icon>
    <a [routerLink]="['/channel-page']" [routerLinkActive]="['active']" class="channel__tabs-tab">HOME</a>
    <a [routerLink]="['/channel-page/video']" [routerLinkActive]="['active']" class="channel__tabs-tab">VIDEOS</a>
    <a [routerLink]="['/channel-page/playlists']" [routerLinkActive]="['active']" class="channel__tabs-tab">PLAYLISTS</a>
    <a [routerLink]="['/channel-page/community']" [routerLinkActive]="['active']" class="channel__tabs-tab">COMMUNITY</a>
    <a [routerLink]="['/channel-page/channels']" [routerLinkActive]="['active']" class="channel__tabs-tab">CHANNELS</a>
    <a [routerLink]="['/channel-page/about']" [routerLinkActive]="['active']" class="channel__tabs-tab">ABOUT THE CHANNEL</a>
    <div class="channel__tabs__search">
        <mat-icon (click)="onSearch()" class="channel__tabs__search-icon">search</mat-icon>
        <mat-form-field class="{{ isSearching ? 'channel__tabs__search-input' : 'channel__tabs__search-input disable' }}">
            <input (blur)="onHideSearching()" [(ngModel)]="searchVideo" matInput/>
        </mat-form-field>
    </div>
    <mat-icon class="channel__tabs-arrow">keyboard_arrow_right</mat-icon>
</div>
