.channel__tabs {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    &-tab {
        font-size: 14px;
        font-family: sans-serif;
        color: #606060;
        text-decoration: none;
        padding: 0 32px;
        transition: .3s all;
        &.active {
            color: #030303;
            border-bottom: 3px solid #606060;
        }
        &:hover {
            color: #030303;
        }
        &:target {
            background-color: #606060;
        }
    }
    &-arrow {
        cursor: pointer;
    }
    &__search {
        display: flex;
        align-items: start;
        overflow: hidden;
        &-icon {
            width: 22px;
            height: 22px;
            cursor: pointer;
            margin-right: 5px;
        }
        &-input {
            border: none;
            outline: none;
            border-bottom: 1px solid black;
            padding: 5px 0;
            &.disable {
                visibility: hidden;
            }
        }
    }

}
