<section class="video-page">
    <div class="current-video">
        <div class="current-video__screen">
            <iframe
                class="iframe"
                width="920"
                height="520"
                [src]="createSafeUrl(currentVideo.id)"
            >
            </iframe>
        </div>
        <div class="current-video__info">
            <h1 class="current-video__title">
                {{ currentVideo.snippet.title }}
            </h1>
            <p class="current-video__description">
                {{ currentVideo.snippet.description }}
            </p>
        </div>
    </div>
    <app-related-videos [relatedVideos]="relatedVideos$"></app-related-videos>
</section>
