<section class="video-page">
    <div class="current-video">
        <div class="current-video__screen">
            <iframe
                class="iframe"
                width="920"
                height="520"
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
            >
            </iframe>
        </div>
        <div class="current-video__info">
            <h1 class="current-video__title">{{ currentVideo.title }}</h1>
            <p class="current-video__description">{{ currentVideo.description }}</p>
        </div>
    </div>
    <div class="related-videos-collection">
        <div class="related-videos-item">
            <iframe
                class="iframe"
                width="168"
                height="90"
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
            >
            </iframe>
            <h2 class="related-video__title">{{ currentVideo.title }}</h2>
        </div>
        <div class="related-videos-item">
            <iframe
                class="iframe"
                width="168"
                height="90"
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
            >
            </iframe>
            <h2 class="related-video__title">{{ currentVideo.title }}</h2>
        </div>
        <div class="related-videos-item">
            <iframe
                class="iframe"
                width="168"
                height="90"
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
            >
            </iframe>
            <h2 class="related-video__title">{{ currentVideo.title }}</h2>
        </div>
        <div class="related-videos-item">
            <iframe
                class="iframe"
                width="168"
                height="90"
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
            >
            </iframe>
            <h2 class="related-video__title">{{ currentVideo.title }}</h2>
        </div>
    </div>
</section>
