<div class="current-video__info-section">
    <h1 class="info-section__title">{{ title }}</h1>
    <div class="info-section__tools">
        <div class="tools__views tool">{{ viewCount }} views</div>
        <div class="tools__likes tool" (click)="toggleLike()">
            <mat-icon class="tab-icon">{{
                likeActive ? "thumb_up" : "thumb_up_off_alt"
            }}</mat-icon>
            {{ likeCount }}
        </div>
        <div class="tools__dislikes tool" (click)="toggleDislike()">
            <mat-icon class="tab-icon">{{
                dislikeActive ? "thumb_down" : "thumb_down_off_alt"
            }}</mat-icon>
            Dislike
        </div>
        <div class="tools__share tool">
            <mat-icon class="tab-icon">share</mat-icon>
            Share
        </div>
        <div class="tools__download tool">
            <mat-icon class="tab-icon">download</mat-icon>
            Download
        </div>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu"> </mat-menu>
    </div>
    <mat-divider></mat-divider>
    <div class="info-section__channel">
        <div class="channel-title-and-subscribe-btn">
            <h2 class="channel-title">{{ channelTitle }}</h2>
            <button
                mat-raised-button
                color="{{ subscribe ? '' : 'warn' }}"
                (click)="toggleSubscribe()"
            >
                {{ subscribe ? "Unsubscribe" : "Subscribe" }}
            </button>
        </div>
        <div class="info-section__description" *ngIf="!showDescription">
            {{ description }}
        </div>
        <p class="info-section__more-info" (click)="toggleDescription()">
            {{ showDescription ? "Show description" : "Hide" }}
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="info-section__comments-count">{{ commentCount }} comments</div>
</div>
