.subscribe {
    padding: 10px 16px;
    height: 100%;
    color: white;
    background: #CC0000;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
}
